$bg-color-1: #0D141A;
$bg-color-2: #1A2127;
$bg-color-3-and-strokes: #2F363E;
$bg-color-4: #404750;
$gray-color: #898D91;
$white-color: #FFFFFF;
$main-green-gradient: linear-gradient(315.76deg, #0C9400 3.12%, #8BFF79 96.88%);
$main-light-green-color: #4BDF40;
$main-dark-green: #01B800;
$error-and-close-color: #DE4A48;
$warning-color: #FFC700;
