<div class="main">
  <div class="main-row">
    <div class="main-section">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="italic">Org</mat-button-toggle>
        <mat-button-toggle value="underline">Solo</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="main-section">
      <button class="new-colour-button new-colour-button--green login__button" (click)="onBuySubscriptionClick()">Add organisation</button>
      <button class="new-colour-button new-colour-button--green login__button" >Add article</button>
    </div>
  </div>
  <div class="loader"></div>
</div>
